main {
  font-family: Georgia;
  font-size: 18px;
  line-height: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
}

a {
  color: #67364e;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #4e7711;
}

h1 {
  text-align: center;
}

hr {
  border: 0;
  padding: 25px 0;
}

p:last-child {
  margin-bottom: 0;
}

.app-icon {
  display: block;
  border-radius: 17.544%;
  height: 75px;
  width: 75px;
  margin: 50px auto;
}

.app-store-badge {  
    display: flex;
    justify-content: center;
    gap: 8px;
}

.app-store-badge img {
  height: 40px;
}

.download-link {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

.toolbox {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.toolbox li {
  border: 1px solid #666;
  border-left: 4px solid #333;
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 24px;
}

.toolbox-header {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.toolbox img {
  min-height: 20px;
  min-width: 20px;
  height: auto;
  width: auto;
}
